<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SqlServerStr" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=st64;User ID=sa;Password=sa@123456"></add>
    <!--<add name="SqlServerStr" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=ExtractData_docdb;User ID=sa;Password=sa@123456"></add>-->
    <!--<add name="SqlServerStr" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=ExtractData_dpwiIN;User ID=sa;Password=sa@123456"></add>-->
    <!--<add name="SqlServerStr" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=ExtractData;User ID=sa;Password=sa@123456"></add>-->
  </connectionStrings>
  <appSettings>
    <add key="SavePath" value="D:\output\64G\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
