<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BRDB.Properties.Settings.ExtractDataConnectionString"
            connectionString="Data Source=DESKTOP-JLKLR7U;Initial Catalog=ExtractData;Persist Security Info=True;User ID=sa;Password=f302c"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>